// COLORS
$c-secondary: #F47648;
$c-dark-gray: #5A5A5A;
$c-primary: #275553;
$c-white: #FFFFFF;
$c-black: #212121;
$c-orange:#f28500;
$c-gray: #acacac;


// Font
$f-lato: 'Lato';
$f-lato-light: 'Lato-Light';
$f-montserrat-light : 'Montserrat-Light';
$f-montserrat: 'Montserrat';
$f-inter: 'Inter';
$f-inter-bold: 'Inter-Bolt';
$f-pacifico: 'Pacifico';
// Font size
$fs-base: 16;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);