mixin cards(args)
  .cards 
    .cards__wrapper   
      .cards__title
        h2 На протяжении маршрута вас ожидает:
      .cards__section
        .cards__item
          +card({srcImg:"./aseets/image/cards/card1.png", 
          altImg: "Аудиосопровождение", titleImg:"Аудиосопровождение", 
          textImg:"Новый способ увидеть и услышать, то место, где вы находитесь. С помощью аудиогида вы сможете совершить увлекательную экскурсию по городу. "})
        .cards__item
          +card({srcImg:"./aseets/image/cards/card2.png", altImg: "Разнообразное питание", titleImg:"Разнообразное питание", textImg:"Каждый обед мы готовим с большой любовью. Кормим вас традиционными камчатскими блюдами. Еда - залог хорошего отдыха! Новый способ увидеть и услышать, то место, где вы находитесь. С помощью аудиогида вы сможете совершить увлекательную экскурсию по городу. "})
        .cards__item
          +card({srcImg:"./aseets/image/cards/card3.png", altImg: "Безопасность на маршруте", titleImg:"Безопасность на маршруте", textImg:"Наша команда проводит инструктаж, рассказывает как правильно себя вести, как избежать опасных ситуаций. Новый способ увидеть и услышать, то место, где вы находитесь. С помощью аудиогида вы сможете совершить увлекательную экскурсию по городу. "})
        .cards__item
          +card({srcImg:"./aseets/image/cards/card4.png", altImg: "Потрясающие фото", titleImg:"Потрясающие фото", textImg:"Можете не переживать, что не успели сделать фото. Наш фотограф успевает везде и за всеми. У вас будут самые лучшие фото! "})