include ./header
include ./footer
include ./main-banner
include ./info-steck
include ./fitback
include ./info-block
include ./stack-day-one
include ./stack-day-two
include ./cards
include ./stack-day-three
include ./stack-day-four
include ./stack-day-five-and-six
include ./stack-day-seven
include ./stack-day-eight
include ./price
include ./form
include ./team