mixin info-block()
  .info-block
    .info-block__wrapper
      .info-block__title
        h3 Путешествие на край света начинается
      .info-block__subtitle
        h5 Ваша мечта осуществилась, вы приняли решение, и вам предстоит путешествие на край света.
      .info-block__content
        p Этот маршрут лучший вариант для тех, кто хочет ощутить, как живёт самая молодая земля нашей планеты, многое увидеть, испытать на себе и полюбить, увезти целый рюкзак незабываемых чувств и впечатлений. Каждый день вы будете выезжать на радиальные маршруты, а проживать в комфортабельных двухместных номерах. 
      .info-block__aside
        .info-block__info
          ion-icon(name="cellular-outline")
          p 
            span Сложность
            br
            | Для семейного отдыха
        .info-block__info
          ion-icon(name="calendar-outline")
          p 
            span Период
            br
            | Июль - сентябрь
        .info-block__info
          ion-icon(name="time-outline")
          p 
            span Длительность
            br
            | 7 дней / 6 ночей
        .info-block__info
          ion-icon(name="home-outline")
          p 
            span Проживание
            br
            | Отель, без палаток