mixin stack-day-one()
    .stack-day-one
        .stack-day-one__wrapper 
            .stack-day-one__section-text
                .stack-day-one__title
                    h4 
                        span День 1. 
                        | Прибытие. Встреча в аэропорту и размещение
                .stack-day-one__content
                    p 
                        | С высоты птичьего полета вы увидите знаменитые «домашние»  вулканы – Корякский, Авачинский и Козельский. У выхода в аэропорту 
                        span.span_white вас встретят с табличкой «ДРИМ ТУР».
                        br
                        br
                        span.span_white По пути в гостиницу сбор 
                        | средств с членов группы, инструктаж по программе этого дня (бассейн с термальной водой, шашлык, знакомство с группой, алкоголь, фейерверк не раньше 20:00). 
                        br
                        br
                        | После выезд (вид транспорта зависит от величины группы) на базу отдыха в курортный 
                        button#js-step-1.modal__button поселок Паратунка
                        | . 
                        br
                        br
                        span.span_white Вечером
                        |, после прибытия на Камчатку всех участников (если рейсы разные),
                        span.span_white общая встреча
                        |, проверка снаряжения,  обсуждение программы завтрашнего дня.
            .stack-day-one__section-slider
                +stack-day-slider({classList:'day-one-slider'})
