mixin stack-day-eight()
    .stack-day-eight
        .stack-day-eight__wrapper 
            .stack-day-eight__section-text
                .stack-day-eight__title
                    h4 
                        span День 8. 
                        | Отъезд с Камчатки. Трансфер в аэропорт
                .stack-day-eight__content
                    p Заезд на рынок, прощальное посещение «медведей», фото на память. Возвращайтесь следующим летом!
