mixin stack-day-three()
    .stack-day-three
            .stack-day-three__wrapper 
                div(dir="rtl").stack-day-three__section-slider
                    +stack-day-slider({classList:'day-three-slider'})
                .stack-day-three__section-text
                    .stack-day-three__title
                        h4 
                            span День 3. 
                            | Горные цирки и водопады вулкана Вачкажец
                    .stack-day-three__content
                        p 
                            | Вачкажец–горный массив и его окрестности, одно из красивейших мест первозданной камчатской природы. Небольшой пеший переход не успеет Вас утомить. А в награду за труд в конце пути открывается великолепный вид на горное озеро в чаше кратера старого потухшего вулкана, обрамленное пиками старых, невысоких гор.
                            br
                            br
                            
                            | Выезд из гостиницы и переезд около 2 часов. Пеший переход около 5 км.в одну сторону к горным циркам вулкана Вачкажец, осмотр водопада. Обед.  Отдых. По прибытию в машину чай с шоколадом! Обратный переход по тому же пути.
                            br
                            br
                            | Продолжительность: 8 часов. Трансфер в гостиницу.