mixin stack-day-four()
    .stack-day-four
        .stack-day-four__wrapper 
            .stack-day-four__section-text
                .stack-day-four__title
                    h4 
                        span День 4. 
                        | Экскурсия к подножию Авачинского вулкана
                .stack-day-four__content
                    p 
                        |Инструктаж по поведению группы в горах. Проверка снаряжения.Выезд на автомашине на вулканическое плато (высота 900 м) к подножию 
                        button#js-step-4.modal__button Авачинского вулкана
                        | (2 часа).
                        br
                        br
                        | Пешеходная экскурсия к горе Верблюд, представляющую собой вулканическую экструзию. Находится в седловине между Корякским и Авачинским вулканами, относительная высота 100-150 м, ширина - около 100 м и по длине она протягивается на 500 м., состоит из трех сросшихся блоков.
                        br
                        br
                        | Обед.  Поездка в Паратунку с купанием.
                        br
                        br
                        | Продолжительность – 8 часов. Трансфер в гостиницу.
            .stack-day-four__section-slider
                +stack-day-slider({classList:'day-four-slider'})
