mixin stack-day-two()
  .stack-day-two
    .stack-day-two__wrapper 
      .stack-day-two__section-text
        .stack-day-two__title
          h4 
            span День 2. 
            | Вилючинский водопад, вулкан и Верхне-Паратунские термальные источники
        .stack-day-two__content
          p Инструктаж перед поездкой (передвижение и поведение группы в лесу, общение с медведями, форма одежды, ), снаряжение, (взять тару для воды при заезде на Зайкин ключ, купальные принадлежности).
            br
            | Сбор участников на Роуп Джамп для прыжков с высоты над водопадом. Заранее решаем кто прыгает.
      .stack-day-two__section-text2
        .stack-day-two__content
          p Выезд из отеля в 10.00. Переезд в верховья реки Паратунка к подножию вулкана Вилючинский. Обзорная пешеходная экскурсия к 
            button#js-step-2.modal__button водопаду Вилючинский
            |. Термос с чаем, шоколад. Возвращение назад.
            br
            |Обед. Купание в Верхне-Паратунских термальных источниках, расположенных на склоне сопки Горячая. 
            br
            | Продолжительность – 6-8 часов. Трансфер в гостиницу.
      div(dir="rtl").stack-day-two__section-slider
        +stack-day-slider({classList:'day-two-slider'})