mixin banner-slider()
  .swiper.mySwiper
    .swiper-wrapper
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image1.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image2.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image3.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image4.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image5.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image6.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image7.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image8.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image9.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image10.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image11.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image12.png", alt="")
      .swiper-slide.mySwiper-slide
        img(src="./aseets/image/image13.png", alt="")
        

