mixin slider(args)
    -let classList = args.classList;
    .swiper.my-slider(class= classList)
        .swiper-wrapper
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image1.png", alt="image")
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image2.png", alt="image")
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image3.png", alt="image")
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image4.png", alt="image")
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image5.png", alt="image")
            .swiper-slide.my-slider-slide
                img(src="./aseets/image/slider/image6.png", alt="image")
        .swiper-button-prev
        .swiper-button-next